<details>
    <summary> My Cart</summary>
        <% if @cart.empty? %>
            <p>No items in cart.</p>
        <% else %>
        <ul>
            <% @cart.each do |search| %>
            <li>
                <%= search.folder_title %> - 
                <%= link_to 'Remove from cart', remove_from_cart_path(search.metadatum.folder_id), method: :delete %>
                <br>
            </li>
            <% end %>
        </ul>
        <% end %>
</details>