
<h1>My cart</h1>
<br>
<br>
<% if @cart.empty? %>
<br>
    <p>No items in cart.</p>
<% else %>
<ul>
    <% @cart.each do |search| %>
    <li>
        <%= search.folder_title %> - 
        <%= link_to 'Remove from cart', remove_from_cart_path(search.metadatum.folder_id), method: :delete %>
        <% search.metadatum.folder_id %>
        
        <br>
        <br>
        <br>
    </li>
    <% end %>
    <%= link_to 'Checkout', folders_cart_path(format: :zip) %>

</ul>
<% end %>


<br>
<br>

<%= link_to 'Go to the Search', root_path %>

<br>

