<h1> Search Results  </h1>
<br/>
<%= debug session[:cart] %>

<table  class="table table-striped table-hover table-bordered">
    <thead  class="table-primary text-center" style="width: 100%">
    <tr>
        <th> Folder Id </th>
        <th> Title of the Folder </th>
        <th> Reference </th>
    </tr>
    </thead>

<tbody  class="text-center" style="width: 100%">
    <% @searches.each do |search| %>
        <tr>
            <td><%= search.folder_id %></td>
            <td><%= search.name %></td>
            <td><%= link_to 'add to cart', add_to_cart_path(search.id), method: :post %></td>
        </tr>
    <% end %>
    </tbody>
</table>

