<h1> Search Results  </h1>

<table>
    <tr>
        <th> id </th>
        <th> folder_title </th>
    </tr>
    <% @searches.each do |search| %>
        <tr>
            <td><%= search.id %></td>
            <td><%= search.folder_title %></td>
        </tr>
    <% end %>
</table>

