<h1> Search Results  </h1>

<table>
    <tr>
        <th> folder_id </th>
        <th> name </th>
    </tr>
    <% @searches.each do |search| %>
        <tr>
            <td><%= search.folder_id %></td>
            <td><%= search.name %></td>
        </tr>
    <% end %>
</table>

