<h1>Login processing page</h1>
<p>Insert your yubikey and press the golden pad for one second</p>
<!-- Find a way to get this code to interact with rails in order to get the OTP -->
<%= javascript_include_tag 'otp_capture' %>