
<div class="position-absolute fixed-top">
<div id="alert" class="alert alert-warning alert-dismissible fade show" role="alert">
<%= notice %>  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
</div>
<script type="text/javascript">
        setTimeout(function () {
  
            // Closing the alert
            $('#alert').alert('close');
        }, 1500);
    </script>
